body {
    background-color: #121212;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 40px;
    text-align: center;
    background: #1e1e1e;
}

#projects {
    padding: 20px;
}

.project-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: #1e1e1e;
}
